{% extends "navBar.html" %}
{%block head%} 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}{% endblock %}</title>

  <!-- CSS  -->
  <link href="/static/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
{% endblock %}


{%block page %}
 
<a href="{%url 'index' %}">Return home</a>
<br><br>
<div class = "row" id = "devices">
  {% for device in devices %}
    <div class="col s3">
      {% if device.trained == 0%}
      <div class="card small grey" id= "card_{{device.deviceName}}">
      {%else %}
      {% if device.deviceState == 'ON'%}
      <div class="card small green" id= "card_{{device.deviceName}}">
      {% elif device.deviceState == 'OFF' %}
      <div class="card small red" id= "card_{{device.deviceName}}">
      {% else %}
      <div class="card small yellow" id= "card_{{device.deviceName}}">
        {% endif %}
      {%endif%}
        
        <div class="card-content">
          <span class="card-title activator white-text text-darken-4">{{device.deviceName}} <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#">Visualize</a></p>
        </div>
        {% if device.trained == 0%}
          <div class = "center-align"> 
            <form action="{%url 'trainDevice' %}" method="post">
              <input type="hidden" name="Device" value="{{device.deviceName}}">
              <button class="waves-effect waves-light btn" type="submit" name="action">Train Now! </button>
              {% csrf_token %}

            </form>
          </div>
        {% endif %}

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{device.deviceName}} <i class="mdi-navigation-close right"></i></span> 

          <br> <br>         
          <h6 class="center-align" id = "{{device.make}}_Make"> Make: {{device.make}} </h6>
          <h6 class="center-align" id = "{{device.modelNum}}_modelNum"> Model: {{device.modelNum}} </h6>
          <h6 class="center-align" id = "{{device.location}}_location"> Location: {{device.location}} </h6>
          {% if device.trained == 1%}
          <h6 class="center-align"> Device is Trained </h6>
          <h6 class="center-align"> State: {{device.deviceState}} </h6>

          </div>
          {%else %}
          <h6 class="center-align"> Device is Untrained! </h6>
          <div class = "center-align"> 
            <form action="{%url 'trainDevice' %}" method="post">
              <input type="hidden" name="Device" value="{{device.deviceName}}">
              <button class="waves-effect waves-light btn" type="submit" name="action">Train Now! </a>
              {% csrf_token %}

            </form>
          </div>
          </div>
          {%endif%}

      </div>
    </div>
  {% endfor %}

</div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Klev: the smart sensor</h5>
          <p class="grey-text text-lighten-4">In development</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://www.linkedin.com/in/ppacent">Team Klev</a>
      </div>
    </div>
  </footer>
{%endblock %}

{% block script %} 
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/materialize/js/materialize.js"></script>
  <script src="/static/materialize/js/init.js"></script>
  <script src="/static/js/ajax.js"> </script>
  <script src="/static/js/jquery-2.1.3.min.js"> </script>

{% endblock %}




