{% extends "navBar.html" %}
{%block head%} 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}{% endblock %}</title>

  <!-- CSS  -->
  <link href="/static/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
{% endblock %}

{% block page %}




<a href="{%url 'index' %}">Return home</a>
<br><br>
<div class = "row">
  Please turn the device you would like to train off. Once it is off, please click below to begin training
<form class = "col s8" action="{%url 'trainOff' %}" method="post">
  	<input type="hidden" name="Device" value="{{device.deviceName}}">
    <button class="waves-effect waves-light btn" type="submit" name="action">Begin 'Off' Training </a>
              
    {% csrf_token %}
</form>
</div>

{%endblock %}

{% block script %} 
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/materialize/js/materialize.js"></script>
  <script src="../static/materialize/js/init.js"></script>
  {% endblock %}